@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Noto Sans JP', sans-serif;
}

:root {
    --text-color: #6a8d8f;
}

body{
    background-color: #dfeef0;
}

.page-title{
    font-size: 35px;
}

.username{
    font-size: 20px;
    font-weight: bold;
}

.page-title, .username{
    color: var(--text-color);
}

.user-avatar{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.dash-line{
    margin-top: 30px;
    width: 60%;
    border: 2px dashed black;
}

.small-title{
    color: var(--text-color);
    font-weight: bold;
}

.page-list{
    list-style-type:disc;
}

.page-link{
    display: block;
    margin-top: 20px;
}

.star-icon {
    color: rgb(202, 202, 0);
}
